.header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.agent-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.roles-title {
  padding: 5px;
}

.role-name {
  font-weight: bold;
  text-align: center;
}

.role-description {
  border: 1px solid red;
  box-sizing: border-box;
  flex-basis: calc(50% - 10px);
  padding: 5px;
  margin: 5px;
}

.role-description p {
  text-align: center;
}

.agent-list {
  text-align: center;
  padding: 10px;
}

.agent-icon {
  width: 100px;
  height: 100px;
}

.agent-list-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  border: 1px solid red;
}

.agent-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding: 5px;
}

.agent-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Responsive Style */
@media screen and (max-width: 768px) {
  .agent-list-container {
    flex-wrap: nowrap;
    justify-content: center;
  }

  .agent-row {
    grid-template-columns: 1fr;
  }

  .role-description {
    flex-basis: 100%;
  }
}
